.button {
  cursor: pointer;
  background: transparent;
  color: var(--c-text-color);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--fade) all;
}

.button:hover {
  color: var(--c-theme);
  background-color: var(--c-theme-10);
}

.fullButton {
  width: 100%;
}
.xlButton {
  min-width: 50px;
  height: 50px;
}
