.sidebar {
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: sticky;
  top: 0;
}

@media only screen and (min-width: 1270px) {
  .tweet {
    width: 100%;
  }
  .sidebar {
    padding-right: 40px;
    align-items: flex-start;
  }
}
.profile {
  margin-top: auto;
  margin-bottom: 20px;
}

.tweet {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tweet svg {
  font-size: 20px;
}
